:root{
  --font-family:'Manrope',sans-serif ;

  --grandient-text:linear-gradient(89.99deg, #AE67FA 1.84% , #F49, 2.35%);
  --gradient-bar::linear-gradient(103.22deg, #AE67FA -13.86%, #F49, -12.32%);
  --color-bg:#d42d10;
  --color-footer:#031834;
  --color-blog:#042c54;
  --color-text:#81AFDD;
  --sub-text:#FF8A7A;
  --color-text:#dbcacae5;
  --text-size:22px;
}